.sponsor{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.sponsor img{
    width: 200px;
    height: 50px;
}
/* end of sponsors */
.flex-8{
    display: flex;
    margin-top: 4rem;
    margin-left: 5rem;
    justify-content: space-between;
    background:rgb(38, 37, 37);
    border-radius: 10px;
    padding: 4rem 20px;
    margin-right: 5rem;
}
#try h2{
    font-size: 40px;
    color: #ffff;
    padding-left: 3rem;
}
#try p{
    color: #dcdcdcc8;
    padding-left: 3rem;
    line-height: 1.7em;
    font-size: 24px;
    padding-top: 1.5rem;
}
.btn button{
    padding: 10px 20px 10px 20px;
    color: #000;
    background-color: rgb(0, 255, 255);
    font-size: 20px;
    margin-top: 35px;
    border: none;
    border-radius: 8px;
}
.btn button:hover{
    background-color: rgba(59, 238, 238, 0.78);
}
/* end of flex-8 */
.flex-9{
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
}
.about p{
    font-size: 20px;
    color: #c9c3c3;
    padding-top: 1rem;
}

.links a :hover{
    color: rgba(59, 238, 238, 0.78);
}
.links h2{
    color: #fff;
    padding-bottom: 10px;
    margin-top: 1rem;
}
.links ul li{
    padding-bottom: 10px;
    list-style: none;
    
}
.links a{
    text-decoration: none;
    color: #c7c0c0;
}
/* end of links */
.community h2{
    color: #fff;
    padding-bottom: 10px;
    margin-top: 1rem;
}
.community a :hover{
    color: rgba(59, 238, 238, 0.78);
}
.community ul li{
    padding-bottom: 10px;
    list-style: none;
}
.community a{
    text-decoration: none;
    color: #c7c0c0;
}
/* end of community */
.partners h2{
    color: #fff;
    margin-top: 1rem;
    padding-bottom: 10px;
}
.partners a :hover{
    color: rgba(59, 238, 238, 0.78);
}
.partners ul li{
    padding-bottom: 10px;
    list-style: none;
}
.partners a{
    text-decoration: none;
    color: #c7c0c0;
}
/* footer */
.footer{
    margin-top: 3rem;
    margin-left: 3rem;
    color: #fff;
    border-top: 3px solid rgb(88, 88, 88);
    margin-bottom: 3rem;
    margin-right: 3rem;
}
.footer h2{
    padding-top: 1rem;
}
/* for mobile */
@media screen and (max-width: 450px){
    .sponsor{
        flex-direction: row;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .sponsor img{
        width: 70px;
        height: 30px;
    }
    .flex-8{
        flex-direction: column;
        margin-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 10px;
        padding: 2rem;
        /* padding-right: 2rem; */
    }
    #try h2{
        font-size: 40px;
        color: #ffff;
        padding-left: 1rem;
    }
    #try p{
        color: #dcdcdcc8;
        padding-left: 1rem;
        line-height: 1.5em;
        font-size: 24px;
        padding-top: 1.5rem;
    }
    .btn button{
        margin-left: 4.5rem;
    }
    /* end of flex-8 */
    .flex-9{
        margin-top: 2rem;
       flex-direction: column;
       margin-left: 3rem;
       margin-right: 0;
    }
    /* end of flex-9 */
    .footer{
        margin-left: 1rem;
    }
    .footer h2{
        font-size: 20px;
    }
}